#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 4em;
}

.read-the-docs {
  color: #888;
}




#google_translate_element{
  border: 2px solid;
  border-radius: 5px;
  background-color: #027f73;
  

}

body > .skiptranslate > iframe.skiptranslate,
body > .goog-te-banner-frame {
  display: none !important;
}


.lang{
  border:2px solid  #888;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
  background-color: #027f73;
  position: absolute;
  top: 8px;
  right: 50px;
  margin-bottom: 5pxs;
  height: 1.5rem;
  width: 20rem;
}


#languageSelect{
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  background-color: #027f73;
}

#languageSelect:hover, .lang:hover{
  transform: scale(1.05); 
}